

.sc-visual{
    position: relative;
    height: 100vh;

    .swiper{height: 100%;}

    .title-area{
        position: absolute;
        color: #fff;
        top: 35%;
        left: 15%;
        z-index: 10;
        text-shadow: -2px 3px 5px rgba(5, 4, 61, 0.5);
    }
    
    .img-area{
        height: 100%;
        overflow: hidden;
        position: relative;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .btn-wrap{
        margin-top: 80px;        
    }

    .btn-play{
        position: absolute;
        bottom: 30px;
        left: 30px;
        z-index: 10;

        .btn-start{background: url(../img/mcon01-play-btn.png) no-repeat;}
        .btn-pause{background: url(../img/mcon01-stop-btn.png) no-repeat;}

        a{
            padding: 10px;
            display: none;
            
            &.active{
                display: block;
            }

        }
    }

    .gauge{
        position: absolute;
        bottom: 0;
        height: 5px;
        width: 100%;
        background: rgba(0,0,0,0.3);
        z-index: 10;

        .curr{
            background: #fff;
            width: 0%;
            height: 5px;
            display: block;
        }
    }
    
}

.sc-title-area{
    text-align: center;
    margin-top: 200px;
}




.sc-sub-visual{
    margin-top: 100px;

        .title{
            text-align: center;
            font-size: 32px;
            line-height: 1.75;
            margin-bottom: 180px;
        }

        .cont-area{
            height: 100vh;
            position: relative;

            video{
                width: 100%;height: 100%;
                object-fit: cover;
                clip-path: polygon(50% 0%, 50% 0, 50% 0%, 50% 0%);

            }
            
            .title-area{
                padding: 247px 0 0 80px;
                color: #fff;

                .cont-title{
                    font-size: 40px;
                    font-weight: 400;
                    line-height: 1.4;
                }

                .desc{margin-top: 10px;}
            }

            &+.cont-area>.inner{
                display: flex;
                flex-direction: row-reverse;

                .title-area{
                    padding: 247px 80px 0 0;
                }
            }
        }
}




.sc-core-technology{
    margin-top: 200px;
    
    .title-area{
        margin-bottom: 100px;
        padding: 0 140px;

        .core.title{
            font-weight: 600;
        }

    }


    .core-item{
        display: flex;
        align-items: center;
        justify-content: center;

        &+.core-item{margin-top: 200px;}
    }
    
    .img-wrap{
        width: 426px;height: 426px;
        box-shadow: -3px 3px 15px rgb(219, 219, 219);
        border-radius: 5%;
        

        video{width: 100%; height: 100%;object-fit: cover;border-radius: 5%;}
    }
    
    .txt-wrap{
        width: 426px;
        padding-left: 100px;
        box-sizing: border-box;
        white-space: nowrap;
    }

}

.banner_02{
    margin-top: 200px;
    position: relative;
    width: 100%;
    height: 800px;
    background: url(../img/section2_4_big.jpg) no-repeat center/contain fixed;
    white-space: nowrap;

    p{
        position: absolute;
        top: 55%;left: 50%;
        color: #fff;
        font-size: 100px;
        transform: translateX(-50%);
        font-weight: bold;
        opacity: 1;
    }
}





.sc-service{
    padding: 300px 0 176px;
    overflow: hidden;

    .title-area{padding: 0 170px;}

    .service-area{
        float: right;
        width: 1100px;
    }

    .txt-wrap{
        position: absolute;
        top: 0;left: 10px;
        color: #333d4b;
        font-weight: bold;
        padding: 20px;

        .sub.title{font-size: 15px;font-weight: bold;margin-bottom: 10px;opacity: 0.8;}

        .desc{font-size: 30px;line-height: 1.2;opacity: 1;}
    }

    .service-list{
        float: left;
        width: 420px;
        margin: 76px 0 0 130px;

        .img-wrap{            
            width: 100%;
            height: 548px;
            overflow: hidden;
            border-radius: 20px;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1);
            transition: transform .5s;
            
            &:hover{transform: scale(1.1);}
        }

        
        // &::before{
        //     content: "";
        //     display: block;
        //     width: 100%;
        //     height: 548px;
        //     border-radius: 20px;
        // }

        // &.factory::before{background: url(../img/team-1core.jpg) no-repeat center/cover;}
    //     &.ELiSSone::before{background: url(../img/img-main-thumbnail-07-pc.png) no-repeat center/cover;}
    //     &.AD::before{background: url(../img/img-main-thumbnail-08-pc.png) no-repeat center/cover;}
    //     &.OneOrder::before{background: url(../img/img-main-thumbnail-09-pc.png) no-repeat center/cover;}
    //     &.Smart::before{background: url(../img/img-main-thumbnail-10-pc.png) no-repeat center/cover;}
    //     &.mplace::before{background: url(../img/img-main-thumbnail-11-pc.png) no-repeat center/cover;}
    }

    

    .service.title{
        transform: rotate(-180deg);
        position: absolute;
        bottom: 0;
        left: -61px;
        writing-mode: tb-rl;
        color: rgb(82, 82, 82);
    }

    .sub.title{font-size: 24px;margin-top: 10px;}

    
}





.banner_03{
    background: url(https://static.toss.im/career/home-outro-cover-desktop.jpg) no-repeat;

    .b.inner{
        padding: 60px 0;
        text-align: center;
        color: #fff;
        box-sizing: border-box;
    }

    .title.bold{font-size: 24px;padding-bottom: 10px;}
    strong{font-size: 40px;font-weight: 400;padding-bottom: 30px;display: block;}
}





.sc-culture{
    background-color: #f7f7f7;
    padding: 180px 0;

   .cont-area{
       display: flex;
       justify-content: space-between;
       margin-top: 48px;

       a{display: block;height: 100%;}
       
       &>div{width: 50%;}
   }

 
    .txt-wrap{
     position: absolute;
     top: 0;
     padding: 30px;

        .sub-title{font-size: 15px;}
    }

    .img-wrap{overflow: hidden;border-radius: 20px;}
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: transform .5s;
        &:hover{transform: scale(1.1);}
    }


   .left-cont{
       padding-right: 12px;

        .img-wrap{height: 692px;}
    }

   .right-cont{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       padding-left: 12px;

       .top-wrap{
            .img-wrap{height: 272px;}
        }

       .bottom-wrap{
           position: relative;
            .img-wrap{height: 396px;}
        }
   }

}




.sc-news{
    padding: 180px 0 174px;
    position: relative;

    .title-area{margin-bottom: 35px;}

   .news-area{
       display: flex;
       justify-content: space-between;

       .news-list{
            &+.news-list{margin-left: 40px;}
       }

       .img-wrap{width: 398px;height: 223px;}

       img{width: 100%;height: 100%;border-radius: 20px;object-fit: cover;}

       .txt-wrap{
           margin-top: 20px;
           line-height: 1.3;

           .category{
            margin-top: 20px;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: -0.2px;
            color: #2b91fe;
           }

           .news-title{
               margin: 8px 0;
               display: block;
               font-weight: 400;
               font-size: 20px;
           }

           .date{
               color: #7e7e87;
               font-size: 13px;
           }
       }

       .hash-wrap{
           margin-top: 20px;

           a{
            display: inline-block;
            background: #fff;
            border: 1px solid #ccc;
            padding: 8px 14px;
            border-radius: 5px;
            margin-right: 5px;
           }
       }
   }

   .btn-more{
    position: absolute;
    top: 175px;
    right: 0;
    background: #eee;
    color: #000;
    border-style: none;
   }
}



.contact-banner{
    text-align: center;
    color: #fff;
    margin-bottom: 120px;
    background: url(../img/img-main-bg-08-pc.png) no-repeat center/cover;
    padding: 64px 0;
    border-radius: 20px;
   
    .sub.title{font-size: 32px;}

    .btn{
        display: inline-block;
        background: #fff;
        border-radius: 50px;
        color: #000;
        font-size: 16px;
        padding: 10px 35px;
        border-color: #333;
        border-width: 1px;
        border-style: solid;
        margin-top: 40px;
    }

    .btn-cs{
        color: #fff;
        border-color: #fff;
        background-color: transparent;
        margin-left: 10px;
    }
}