.footer{
    background-color: #f7f7f7;
    font-size: 12px;
    line-height: 1.67;
    color: #666;
    
    
    .footer-inner{
        position: relative;
        max-width: 1440px;
        margin: 0 auto;
        padding: 56px 80px;
    }

    .corp-wrap{
        display: flex;

        .corp-list{
            font-size: 14px;
            line-height: 1.71;
            color: #666;

            &+li{padding: 0 0 0 32px;}
            &.on{color: #000;}
        }
    }

    address{
        padding-top: 32px;

        span{margin-right: 10px;}
    }

    .copyright{padding-top: 16px;}


    .site-area{
        position: absolute;
        right: 80px;bottom: 56px;
        display: flex;
    }

    .link-youtube{
        padding: 8px 16px;
        background-color: transparent;
        border-color: #ccc;
        border-width: 1px;
        border-style: solid;
        border-radius: 50px;
        color: #000;
        font-size: 14px;
        // display: block;

        &::after{
            content: "";
            display: inline-block;
            background: url(../img/icon-32-px-youtube-gr@2x.png) no-repeat center/cover;
            vertical-align: top;
            width: 24px;height: 24px;
        }
    }

    .familysite-wrap{
        width: 200px;height: 40px;
        background: #ccc;
        background-color: #e6e6e6;
        margin-left: 12px;
        border-radius: 5px;
        position: relative;
        text-align: left;

        .c-title{
            display: block;
            padding-left: 16px;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            font-weight: 400;
            color: #000;
        }
    }

    .familysite-group{
        position: absolute;
        left: 0;
        bottom: 48px;
        width: 100%;
        border-radius: 8px;
        border: 1px solid #e6e6e6;
        background: #fff;
        display: none;
    }

    .familysite-list{
        padding: 12px 10px 12px 12px;

        li{
            padding: 4px 0;
            font-size: 14px;
            line-height: 1.71;

            &>a{display: block;}

            &:hover{
                background: #eee;
                border-radius: 5px;
                padding-left: 10px;
            }
        }

        
        .category{
            display: block;
            color: #000;
            font-weight: 400;
            padding: 4px 0 4px;
            font-size: 14px;
        }
    }
   
}