.header{
    color: #4e5968;;
    font-size: 15px;
    background-color: transparent;
    z-index: 10;
    position: fixed;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid rgba(0,27,55,0.1);

    .header.inner{
        padding: 0 24px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .logo{
        width: 76px;
        height: 20px;

        a{display: block;height: 100%;}
    }

    .menu-area{width: 100%;}
    .menu-wrap{
        display: flex;
        justify-content: flex-end;
        padding-left: 80px;
        white-space: nowrap;

        .menu-list{
            height: 100%;
            padding: 23px 10px 18px 10px;

            &>a{
                padding: 15px;
                border-radius: 10px;
                &:hover{
                    background: #eee;
    
                }
            }
        }

        .sub-wrap{display: none;}
    }

    .utll-area{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &>div{margin-left: 32px;}
    }

    .utill-wrap a{margin-left: 32px;}

    .search-wrap{
        a{display: block;}
        svg{vertical-align: top;}
    }

    .link-more{
        .link-line{
            display: block;
            height: 1px;width: 20px;
            background-color: #4e5968;;
            margin: 7px auto;
        }

        a{display: block;height: 100%;}
    }
}