@font-face {
    font-family: 'CJONLYONENEW';
    src: url('../font/CJONLYONENEWbodyLight_11172.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'CJONLYONENEW';
    src: url('../font/CJONLYONENEWbodyRegular_11172.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'CJONLYONENEW';;
    src: url('../font/CJONLYONENEWtitleBold_11172.woff2') format('woff2');
    font-weight: 600;
}